body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 0;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	&_show {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;

		.popup__content {
			visibility: visible;
			transform: scale(1);
		}
	}

	// .popup__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .popup__content
	&__content {
		visibility: hidden;
		transform: scale(0);
		background-color: $White;
		@include adaptiveValue("padding-top", 64, 40);
		@include adaptiveValue("padding-bottom", 72, 40);
		@include adaptiveValue("padding-left", 54, 15, 1520, 992, 1);
		@include adaptiveValue("padding-right", 54, 15, 1520, 992, 1);
		width: 100%;
		max-width: rem(1216);
		transition: transform 0.3s ease 0s;

		.lock & {
			visibility: visible;
		}
	}

	// .popup__close
	&__close {
		position: absolute;
		right: 0;
		top: 0;
		@include adaptiveValue("width", 64, 40);
		@include adaptiveValue("height", 64, 40);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: rem(24);
		color: $Black;

		&:focus-visible {
			outline: 0;
		}
	}

	// .popup__text
	&__text {
	}

	// .popup_calculator
	&_calculator {
		.popup__content {
			position: relative;

			&::before,
			&::after {
				@media (min-width: $tablet) {
					content: "";
					position: absolute;
					display: block;
					pointer-events: none;
				}
			}
			&::before {
				width: rem(283);
				height: rem(235);
				background: url(../img/home/blobs3.svg) no-repeat center/contain;
				left: 0;
				top: 0;
			}
			&::after {
				width: rem(297);
				height: rem(205);
				background: url(../img/home/blobs4.svg) no-repeat center/contain;
				bottom: 0;
				right: 0;
			}
		}

		.popup__text {
			position: relative;
			z-index: 1;
		}
	}

	// .popup_request
	&_request {
		.popup__content {
			max-width: rem(652);
			padding-left: rem(15);
			padding-right: rem(15);

			@media (min-width: $mobile) {
				&::before,
				&::after {
					content: "";
					display: block;
					position: absolute;
					pointer-events: none;
				}
				&::before {
					background: url(../img/home/blobs5.svg) no-repeat center/contain;
					width: rem(206);
					height: rem(216);
					right: 0;
					top: 0;
				}
				&::after {
					background: url(../img/home/blobs6.svg) no-repeat center/contain;
					width: rem(146);
					height: rem(148);
					left: 0;
					bottom: 0;
				}
			}
		}

		.popup__close {
			@media (min-width: $mobile) {
				background-color: transparent;
				color: $White;
			}
		}

		.popup__text {
			max-width: rem(477);
			margin-left: auto;
			margin-right: auto;
			position: relative;
			z-index: 1;
		}
	}

	// .popup_success
	&_success {
		.popup__content {
			position: relative;

			@media (min-width: $tablet) {
				&::before,
				&::after {
					content: "";
					display: block;
					position: absolute;
					pointer-events: none;
					background: url(../img/home/blobs8.svg) no-repeat center/cover;
					width: rem(198);
					height: 100%;
					top: 0;
				}
				&::before {
					left: 0;
					transform: scale(-1, -1);
				}
				&::after {
					right: 0;
				}
			}
		}

		.popup__close {
			@media (min-width: $mobile) {
				background-color: transparent;
				color: $White;
			}
		}

		.popup__text {
			position: relative;
			z-index: 1;
			max-width: rem(617);
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: grid;
			@include adaptiveValue("row-gap", 32, 24);
		}
	}
}

.success {
	// .success__img
	&__img {
		display: flex;
		justify-content: center;
		@include adaptiveValue("max-width", 930, 350, 1520, 768, 1);
		margin-left: auto;
		margin-right: auto;
	}

	// .success__body
	&__body {
		display: grid;
		align-items: flex-start;
		row-gap: rem(16);
	}

	// .success__title
	&__title {
		font-family: $fontSecond;
		font-weight: 700;
		@include adaptiveValue("font-size", 30, 20);
		color: $Black;
	}

	// .success__text
	&__text {
	}

	// .success__button
	&__button {
	}
}
