// page ====================================================================================================
.page {
    &._fixed {
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }
}

// home ====================================================================================================
.home-page {
    footer {
        display: none;
    }
}
.home {
    // .home__slider
    &__slider {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    // .home__wrapper
    &__wrapper {
    }

    // .home__slide
    &__slide {
        flex: 1 0 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        [class*="__container"] {
            width: 100%;
        }
    }

    // .home__content
    &__content {
        position: relative;
        z-index: 1;
        padding-top: rem(78);
        padding-bottom: rem(32);

        @media (min-height: em(800)) {
            @include adaptiveValue("padding-top", 98, 78);
            @include adaptiveValue("padding-bottom", 98, 78);
        }
    }

    // .home__bg
    &__bg {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .home__scroll
    &__scroll {
        @media (min-width: $mobile) {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            width: rem(8);
            height: 100%;
            background-color: rgba($color: $Black, $alpha: 0.5);
        }
    }

    // .home__drag-scroll
    &__drag-scroll {
        @media (min-width: $mobile) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba($color: $Black, $alpha: 0.8);
            cursor: pointer;
        }
    }
}

// template1 ====================================================================================================
.template1 {
    // .template1__row
    &__row {
        display: grid;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(40);
        min-width: rem(0);

        @media (min-width: $tablet) and (min-height: em(800)) {
            grid-template-columns: percent(520, 1292) 1fr;
        }
        @media (min-width: $tablet) and (max-height: em(800)) {
            grid-template-columns: 53% 1fr;
        }
    }

    // .template1__body
    &__body {
        max-width: rem(477);

        @media (max-width: $tablet) {
            padding: rem(0) 0 rem(50);
        }
    }

    // .template1__text
    &__text {
        h1,
        h2 {
            font-family: $fontSecond;
            font-weight: 700;
            @include adaptiveValue("font-size", 56, 30);
            line-height: math.div(104, 80);
            color: $Black;

            @media (min-height: em(800)) {
                @include adaptiveValue("font-size", 72, 30);
            }
        }

        p {
            @media (min-height: em(800)) {
                @include adaptiveValue("font-size", 25, 16);
            }
        }
    }

    // .template1__actions
    &__actions {
        display: grid;
        grid-template-columns: repeat(auto-fit, rem(200));
        @include adaptiveValue("gap", 16, 8);

        @media (max-width: $mobileM) {
            grid-template-columns: 1fr 1fr;
        }

        &:not(:first-child) {
            margin-top: rem(32);
        }
    }

    // .template1__slider
    &__slider {
        @media (max-width: $tablet) {
            margin-left: rem(-20);
            margin-right: rem(-20);
            padding: 0 rem(20);
        }
    }

    // .template1__wrapper
    &__wrapper {
        @media (min-width: $tablet) {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(10);
        }
        @media (max-width: $tablet) {
            flex-direction: row !important;
        }
    }

    // .template1__slide
    &__slide {
        border: rem(11) solid rgba($color: $White, $alpha: 0.3);
        @include adaptiveValue("border-width", 11, 6);
        position: relative;
        padding-bottom: percent(280, 380);
        overflow: hidden;

        @media (min-height: em(800)) {
            padding-bottom: percent(330, 380);
        }
        @media (max-width: $tablet) {
            @include adaptiveValue("padding-bottom", 280, 200, 768, 320, 1);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        a {
            @media (any-hover: hover) {
                img {
                    transform: scale(1) translateY(0);
                    transform-origin: 50% 16%;
                    transition: 5s ease all 0s;
                }

                &:hover {
                    img {
                        transform: scale(1.25) translateY(-15px);
                        transform-origin: top;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

// template2 ====================================================================================================
.template2 {
    @media (max-width: $tablet) {
        align-items: flex-start;
    }

    // .template2__text
    &__text {
        max-width: rem(600);

        h2 {
            text-transform: uppercase;
        }
    }

    .template1__actions {
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
            max-width: rem(180);
        }
    }

    .home__content {
        // padding-top: rem(100);
    }

    .home__bg {
        img {
            @media (min-width: $tablet) {
                object-position: top;
            }
        }
    }
}

// template3 ====================================================================================================
.template3 {
    align-items: flex-end;

    .home__container {
        padding: 0 rem(20);
        max-width: rem(1478);

        @media (max-width: $tablet) {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }

    .home__content {
        padding: 0;

        @media (max-width: $tablet) {
            order: 1;
        }
    }

    // .template3__body
    &__body {
        background-color: rgba($color: $White, $alpha: 0.95);
        @include adaptiveValue("padding-top", 60, 20);
        @include adaptiveValue("padding-bottom", 60, 32);
        @include adaptiveValue("padding-left", 40, 20, 1520, 992, 1);
        @include adaptiveValue("padding-right", 40, 20, 1520, 992, 1);

        @media (min-width: $tablet) {
            max-width: rem(691);
        }
    }

    // .template3__text
    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 24);
        }
    }

    // .template3__slider
    &__slider {
        @media (max-width: $mobileM) {
            margin-left: rem(-20);
            margin-right: rem(-20);
            padding-left: rem(20);
            padding-right: rem(20);
        }
    }

    // .template3__wrapper
    &__wrapper {
        flex-direction: row !important;
    }

    // .template3__slide
    &__slide {
    }

    .home__bg {
        @media (max-width: $tablet) {
            position: relative;
            // padding-bottom: percent(668, 1086);
            order: 0;
            flex: 1;
        }

        img {
            object-position: top right;
        }
    }
}

.template3-review {
    display: grid;
    row-gap: rem(5);

    // .template3-review__rating
    &__rating {
    }

    // .template3-review__name
    &__name {
        font-family: $fontSecond;
        font-weight: 800;
        font-size: rem(16);
        line-height: math.div(21, 16);
        color: $Black;
    }

    // .template3-review__text
    &__text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: rem(14);
        line-height: math.div(18, 12);
    }
}

// contacts ====================================================================================================
.contacts {
    background-color: $White;

    .home__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        padding-top: 0;
    }

    // .contacts__form
    &__form {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        padding-top: rem(78);
        padding-bottom: rem(78);

        @media (min-height: em(800)) {
            @include adaptiveValue("padding-top", 98, 78);
        }
        @media (max-width: $mobileM) {
            padding-bottom: rem(24);
        }

        &::before,
        &::after {
            @media (min-width: $mobileM) {
                content: "";
                position: absolute;
                display: block;
                pointer-events: none;
            }
        }
        &::before {
            left: 0;

            @media (min-width: $pc) {
                width: rem(227);
                height: rem(672);
                background: url(../img/home/blobs1.svg) no-repeat center/contain;
            }
            @media (max-width: $pc) {
                width: rem(274);
                height: rem(193);
                background: url(../img/home/blobs1-2.svg) no-repeat center/contain;
                bottom: 0;
            }
        }
        &::after {
            right: 0;

            @media (min-width: $pc) {
                background: url(../img/home/blobs2.svg) no-repeat center/contain;
                @include adaptiveValue("width", 227, 129, 1520, 992, 1);
                @include adaptiveValue("height", 739, 369, 1520, 992, 1);
            }
            @media (max-width: $pc) {
                width: rem(200);
                height: rem(112);
                background: url(../img/home/blobs2-1.svg) no-repeat center/contain;
                top: 0;
            }
        }

        .contacts__container {
            @media (min-width: $pc) {
                max-width: rem(1075);
            }
        }
    }

    // .contacts__container
    &__container {
    }

    // .contacts__row
    &__row {
        display: grid;
        align-items: flex-start;
        @include adaptiveValue("column-gap", 120, 20, 1520, 992, 1);
        row-gap: rem(16);

        @media (min-width: $mobile) {
            grid-template-columns: 55% 1fr;
        }
        @media (min-width: $mobileM) {
            grid-template-columns: 1fr 1fr;
        }
    }

    // .contacts__left
    &__left {
    }

    // .contacts__text
    &__text {
        @include adaptiveValue("font-size", 20, 12);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 8);
        }

        h1,
        h2,
        h3,
        h4 {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 8, 0);
            }
        }
        h3 {
            @include adaptiveValue("font-size", 26, 16);
        }
        p {
            @include adaptiveValue("margin-top", 8, 0);
            @include adaptiveValue("margin-bottom", 8, 0);
        }
    }

    // .contacts__right
    &__right {
    }
}

// home-footer ====================================================================================================
.home-footer {
    background-color: #f3f3f3;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;

    .home__container {
        width: auto;
    }

    a {
        display: inline-flex;

        @media (any-hover: hover) {
            transition: $transition ease color 0s;

            &:hover {
                color: $Orange;
            }
        }
    }

    // .home-footer__body
    &__body {
        display: grid;
        row-gap: rem(32);
    }

    // .home-footer__logo
    &__logo {
    }

    // .home-footer__address
    &__address {
    }

    // .home-footer__contacts
    &__contacts {
    }

    // .home-footer__menu
    &__menu {
        ul {
            display: grid;
            align-items: flex-start;
            @include adaptiveValue("row-gap", 15, 10);
        }
    }

    .communications {
        justify-items: center;
        text-align: center;

        // .communications__item
        &__item {
        }
    }
}

// calculator ====================================================================================================
.calculator {
    max-width: rem(889);
    margin-left: auto;
    margin-right: auto;

    // .calculator__steps
    &__steps {
    }

    // .calculator__step
    &__step {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr;
        column-gap: rem(20);
        row-gap: rem(32);
        @include adaptiveValue("column-gap", 100, 20, 1512, 768, 1);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        display: none;
        transition: $transition ease opacity 0s;

        @media (min-width: $mobile) {
            grid-template-columns: rem(360) 1fr;
        }

        // .calculator__step_first
        &_first {
            @media (min-width: $mobile) {
                .calculator__left {
                    display: flex;
                    flex-direction: column;
                }

                .calculator__total {
                    flex: 1;
                    display: flex;
                    align-items: flex-end;
                }
            }

            .service-calculator {
                &::before,
                &::after {
                    display: block;
                    @include adaptiveValue("width", 40, 25, 992, 320, 1);
                    @include adaptiveValue("height", 40, 25, 992, 320, 1);
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    top: 0;
                    pointer-events: none;

                    @media (min-width: $tablet) {
                        transform: translate(50%, -50%);
                    }
                }

                &::before {
                    content: "";
                    background-color: $White;
                    border: rem(4) solid #f1f1f1;
                    @include adaptiveValue("border-width", 4, 2);
                    border-radius: 50%;
                }
                &::after {
                    content: "\e908";
                    @extend %ic;
                    @include adaptiveValue("font-size", 15, 13);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: $transition ease opacity 0s;
                }
            }
        }

        // .calculator__step_second
        &_second {
            .options-service {
                pointer-events: none;
            }

            .checkbox {
                label {
                    padding: 0;
                }
            }

            .service-calculator {
                padding-left: rem(33);

                &:before {
                    content: "";
                    align-self: flex-start;
                    flex: 0 0 rem(23);
                    width: rem(23);
                    height: rem(23);
                    border: 1px solid #d3d3d3;
                    position: absolute;
                    top: rem(4);
                    left: 0;
                }
                &::after {
                    content: "\e908";
                    @extend %ic;
                    font-size: rem(17);
                    color: #f2994a;
                    position: absolute;
                    left: rem(3);
                    top: rem(7);
                }

                // .service-calculator__body
                &__body {
                    padding: 0;
                    border: 0;
                }

                // .service-calculator__caption
                &__caption {
                    font-weight: 400;
                    color: $mainColor !important;
                    @include adaptiveValue("font-size", 20, 16);

                    &:not(:last-child) {
                        margin: 0;
                    }
                }

                // .service-calculator__text
                &__text {
                    display: none;
                }
            }
        }

        &._active {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            width: auto;
            height: auto;
            display: grid;
            position: inherit;
        }
    }

    // .calculator__left
    &__left {
        .calculator__right {
            &:not(:first-child) {
                margin-top: rem(24);
            }
            &:not(:last-child) {
                margin-bottom: rem(24);
            }
        }
    }

    // .calculator__text
    &__text {
        @include adaptiveValue("font-size", 15, 12);
        line-height: math.div(22, 15);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 24);
        }

        h1,
        h2,
        h3,
        h4 {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 8, 0);
            }
        }

        h3 {
            @include adaptiveValue("font-size", 22, 16);
            line-height: math.div(29, 22);
        }

        p {
            @include adaptiveValue("margin-top", 8, 0);
            @include adaptiveValue("margin-bottom", 8, 0);
        }
    }

    // .calculator__right
    &__right {
    }

    // .calculator__services
    &__services {
        max-width: rem(400);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 24);
        }

        .options-service {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include adaptiveValue("gap", 20, 10);
            margin: 0;

            @media (min-width: $tablet) {
                gap: rem(40);
            }

            .checkbox {
                padding: 0;

                label {
                    height: 100%;
                    padding: 0;
                }

                input:checked {
                    & + .service-calculator {
                        &::after {
                            opacity: 1;
                        }
                        .service-calculator__bg {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    // .calculator__service
    &__service {
    }

    .form__item {
        @include adaptiveValue("margin-bottom", 24, 8);
    }

    // .calculator__table
    &__table {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
    }

    // .calculator__total
    &__total {
    }
}

.total-calculator {
    &:not(:first-child) {
        @include adaptiveValue("margin-top", 24, 16);
    }
    // .total-calculator__wrapper
    &__wrapper {
        display: grid;
        row-gap: rem(15);
        @include adaptiveValue("padding", 20, 15);
        background: #f3f3f3;

        @media (max-width: $mobileSmall) {
            margin-left: rem(-15);
            margin-right: rem(-15);
        }
    }

    // .total-calculator__plug
    &__plug {
        @include adaptiveValue("font-size", 15, 12);
        line-height: math.div(25, 15);
        color: #333;
    }

    // .total-calculator__main
    &__main {
        display: none;
    }

    &._active {
        .total-calculator__plug {
            display: none;
        }
        .total-calculator__main {
            display: block;
        }
    }

    // .total-calculator__caption
    &__caption {
        font-weight: 600;
        line-height: math.div(32, 20);
        letter-spacing: em(0.16, 20);
        color: #f2994a;
    }

    // .total-calculator__premium
    &__premium {
        color: $Black;
    }

    // .total-calculator__val
    &__val {
    }

    // .total-calculator__text
    &__text {
        @include adaptiveValue("font-size", 15, 12);
        line-height: math.div(25, 15);
        color: #333;

        span {
            font-weight: 600;
            color: #f2994a;
        }
    }

    // .total-calculator__services
    &__services {
    }

    // .total-calculator__actions
    &__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(10);

        .btn {
            font-weight: 400;
            min-width: auto;
            padding-left: rem(10);
            padding-right: rem(10);
        }

        &:not(:first-child) {
            margin-top: rem(15);
        }
    }
}

.service-calculator {
    position: relative;
    height: 100%;

    // .service-calculator__body
    &__body {
        height: 100%;
        text-align: center;
        padding: rem(15);
        background: rgba(243, 243, 243, 0.8);
        border: 5.35572px solid rgba(255, 255, 255, 0.3);

        @media (max-width: $tablet) {
            @include adaptiveValue("padding-top", 45, 30);
        }
    }

    // .service-calculator__caption
    &__caption {
        font-family: $fontSecond;
        font-weight: 700;
        @include adaptiveValue("font-size", 16, 12);
        line-height: math.div(21, 16);

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 16, 8);
        }
    }

    // .service-calculator__text
    &__text {
        @include adaptiveValue("font-size", 13, 12);
        line-height: math.div(18, 12);
    }

    // .service-calculator__bg
    &__bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.8s ease opacity 0s;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: rem(5) solid rgba($color: $White, $alpha: 0.3);
        }
    }
}

.result-calculator {
    background: #f3f3f3;
    @include adaptiveValue("padding", 50, 20, 1520, 768, 1);

    @media (max-width: $mobileSmall) {
        margin-left: rem(-16);
        margin-right: rem(-16);
    }

    .calculator__text {
        @media (max-width: $mobile) {
            margin-bottom: rem(16);
        }
    }

    .form__item {
        margin-bottom: rem(8);
    }
    // .result-calculator__gender
    &__gender {
        @include adaptiveValue("font-size", 40, 30);
        color: #36906d;
    }

    // .result-calculator__birhday
    &__birhday {
        font-weight: 700;
        color: $Black;
    }

    .options-service {
        .checkbox {
            flex: 0 0 100% !important;
        }
    }

    // .result-calculator__total
    &__total {
        font-weight: 700;
        @include adaptiveValue("font-size", 18, 14);
        line-height: math.div(23, 17);
        color: #333;

        span {
            font-weight: 600;
        }

        &:not(:first-child) {
            margin-top: rem(8);
        }
    }

    // .result-calculator__actions
    &__actions {
        &:not(:first-child) {
            @include adaptiveValue("margin-top", 32, 16);
        }
    }
}

// request ====================================================================================================
.request {
    // .request__form
    &__form {
    }

    // .request__step
    &__step {
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    .options-service {
        display: flex;
        flex-wrap: wrap;

        .checkbox {
            @media (min-width: $mobileSmall) {
                flex: 0 0 50%;
            }
        }
    }
}
