//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form__input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: rem(10) 0;
	border-bottom: 1px solid #d3d3d3;
	background-color: $White;
	transition: $transition ease border-color 0s;

	&::placeholder {
		font-weight: 400;
		transition: $transition ease opacity 0s;
	}

	&:focus {
		border-color: $mainColor;
		outline: 0;

		&::placeholder {
			opacity: 0;
		}
	}

	&._form-focus {
	}
	&._form-error {
	}

	// .form__input_contact
	&_contact {
		border: 0;
		padding: rem(10) rem(20);

		@include adaptiveValue("padding-top", 10, 5);
		@include adaptiveValue("padding-bottom", 10, 5);
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
